services:
  frontend:
    build: ./src/frontend
    ports:
      - "8080:8080"
    depends_on:
      - cart
      - checkout
      - catalog
    environment:
      - CART_SERVICE_URL=http://cart:7070
      - CHECKOUT_SERVICE_URL=http://checkout:5050
      - CATALOG_SERVICE_URL=http://catalog:3550

  cart:
    build: ./src/cart
    ports:
      - "7070:7070"
    environment:
      - REDIS_ADDRESS=redis-cart:6379
    depends_on:
      - redis-cart

  checkout:
    build: ./src/checkout
    ports:
      - "5050:5050"
    environment:
      - CART_SERVICE_ADDR=http://cart:7070
      - CATALOG_SERVICE_ADDR=http://catalog:3550

  catalog:
    build: ./src/catalog
    ports:
      - "3550:3550"

  redis-cart:
    image: redis:6.0-alpine
    container_name: redis-cart
    ports:
      - "6379:6379"

